body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
.epi2melabs-wfpage-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.epi2melabs-wfpage-widget h1,
.epi2melabs-wfpage-widget h2,
.epi2melabs-wfpage-widget h3,
.epi2melabs-wfpage-widget h4,
.epi2melabs-wfpage-widget h5,
.epi2melabs-wfpage-widget p,
.epi2melabs-wfpage-widget a,
/* .epi2melabs-wfpage-widget div, */
.epi2melabs-wfpage-widget span,
.epi2melabs-wfpage-widget li,
.epi2melabs-wfpage-widget label,
.epi2melabs-wfpage-widget button {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeueLT",  Helvetica, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

.epi2melabs-wfpage-widget h1 {
    padding: 15px 0;
    font-size: 36px;
    font-weight: normal;
}

.epi2melabs-wfpage-widget h2 {
    font-size: 18px;
    font-weight: normal;
}

.epi2melabs-wfpage-widget h3 {
    font-weight: normal;
    font-size: 12px;
}

.epi2melabs-wfpage-widget {
    overflow-y: auto;
    background-color: white;
}